<h1>Public::Customers#edit</h1>
<p>Find me in app/views/public/customers/edit.html.erb</p>

<%= form_with model: @edit do |c| %>
  <div class = "row">
    <div class = "col-1"></div>
    <div class = "col-2 my-2">氏名</div>
    <div class = "col-2"><div class = "w-75 my-2"><%= c.text_field :family_name %></div></div>
    <div class = "col-2"><div class = "w-75 my-2"><%= c.text_field :first_name %></div></div>
  </div>
<% end %>