<div class="slider">
  <%= image_tag("photo-AC/22499843_m.jpg", width: "500", height: "300") %>
  <%= image_tag("photo-AC/22291230_m.jpg", width: "500", height: "300") %>
  <%= image_tag("photo-AC/4498520_s.jpg", width: "500", height: "300") %>
</div>
