<h1>Homes#login</h1>
<p>Find me in app/views/homes/login.html.erb</p>

<div class='container'>
  <div class='row'>
    <div class='col-2 hidari'>
      <div class = 'genre_search'>
        <div class = 'genre_search_title'>ジャンル検索</div>
        <% @genres.each do |genre| %>
          <div class = 'genre_search_record'><%= genre.name %></div>
        <% end %>
      </div>
    </div>
    <div class='col-10 migi'>
      <%= render 'item-list', items: @items %>
    </div>
  </div>
</div>