<h1>Homes#login</h1>
<p>Find me in app/views/homes/login.html.erb</p>

<div class='container'>
  <div class='row'>
    <div class='col-2 hidari'>
      <%= render 'genre-search', genres: @genres %>
    </div>
    <div class='col-10 migi'>
      <%= render 'item-list', items: @items %>
    </div>
  </div>
</div>