<h1>Homes#home</h1>
<p>Find me in app/views/homes/home.html.erb</p>

<div class='container'>
  <div class='row'>
    <div class = 'col-3 hidari'>
      <%= render 'genre-search', genres: @genres %>
    </div>
    <div class='col-9 migi'>
      <%= render 'slider' %>
      <div class = "welcome-text">
        <p >ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <h1>新着商品</h1>
      <%= render 'item-list', items: @items4 %>
    </div>
  </div>
</div>