<header class = "bg-pink text-center">
  <div class = "btn"><h1>ヘッダーだ〜！</h1></div>
  <div class = "btn btn-light m-2">
    <%= link_to "[公衆ホーム]", root_path, class: "h2" %>
  </div>
  <div class = "btn btn-light m-2">
    <%= link_to "[顧客ホーム]", login_path, class: "h2" %>
  </div>
  <div class = "btn btn-light m-2">
    <%= link_to "[About]", about_path, class: "h2" %>
  </div>
  <div class = "btn btn-light m-2">
    <%= link_to "[カート]", cart_items_path, class: "h2" %>
  </div>
</header>