<div class = "header-inline"><h1>ヘッダーだ〜！</h1></div>
<div class = "header-inline"><h2>
  <%= link_to "[公衆ホーム]", root_path %>
</h2></div>
<div class = "header-inline"><h2>
  <%= link_to "[顧客ホーム]", login_path %>
</h2></div>
<div class = "header-inline"><h2>
  <%= link_to "[About]", about_path %>
</h2></div>