<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<!-- turbo links (railsのリンク) -->
<!-- ブラウザのリロードはブラウザ自身でリロード-->
<!-- railsのそれは正規のgetやpostではなく、getやpostに擬態してhtmlを取りに行く -->
<!-- turbo linksが勝手に読み込んで書き換えているので、ブラウザはその挙動を理解できない -->
<!-- だから、turbo linksで発火してくださいと記述する必要がある -->

    <script type="text/javascript">
      $(document).on('turbolinks:load', function() {
      // $(document).ready(function(){
        $('.slider').bxSlider({
          auto: true,
          pause: 5000,
        });
      });
    </script>
  </head>
 <%#= render 'layouts/header' %>
  <body>
    <%= yield %>
  </body>
</html>